.idea-menus button.active {
	border: none;
	padding:0;
	margin:0;
	background:transparent;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

/* for node div */
div.idea-container {
	font-size: 8pt;
	padding: 2px;
	background: #d3e8e8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px; 
	-icab-border-radius: 10px; 
	-khtml-border-radius: 10px; 
}

div.idea-container-aggregate {
	font-size: 8pt;
	padding: 2px;
	background: #d3e8e8;
	border: 2px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px; 
	-icab-border-radius: 10px; 
	-khtml-border-radius: 10px; 
}

div.idea-container-fake {
	font-size: 8pt;
	padding: 2px;
	background: #DAD2D2; /*#F6F4F4;*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px; 
	-icab-border-radius: 10px; 
	-khtml-border-radius: 10px; 
}

div.idea-header {
	background: #d3e8e8;
}

div.idea-header-fake {
	background: #DAD2D2; /*#F6F4F4;*/
}

div.idea-title {
	clear:both;
	padding: 3px;
	float: left;
	/*font-weight:bold;*/
	overflow: hidden;
}

div.idea-title-fake {
	padding: 5px;
	float: left;
	width:95%;
	/*font-weight:bold;*/
}

div.idea-user {
	padding: 5px 5px 5px 5px;
	text-align: right;
}

div.idea-user2 {
	padding-right: 5px;
	text-align: right;
} 

div.idea-user img {
	border:0px;
}

div.idea-wrapper{
	padding: 2px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
}

div.idea-main{
	width: 100%;
}

div.idea-desc {
	clear: both;
	float:left;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	text-align: left;
	display:block;
}

div.idea-detail{
}

div.idea-action{
	float:right; 
	margin: 2px;
	text-align: right; 
}

div.idea-menus {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	background: transparent; 
}

.ideadata {
    clear: both;
    margin: 5px;   
}

ol.idea-list-ol {
	clear:both;
	padding-top: 5px;
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}
	
ol li {
	vertical-align:top;	
}

li.idea-list-li {
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
	padding-top:0px;
}

div.idea-li-wrapper{
	width:100%;
}

.idea-blob {  
    width: 70%;
    margin-left:50px;
    margin-bottom:20px; 
}

.idea-blob-list {
	margin-left:5px;
	padding-left:5px; 
}

.li-no {
	float:left;
	width:30px;	
}

.wordwrap {
	word-break:     break-word;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	hyphens:         auto;
}

.itemtext {
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	cursor:pointer; 
	color: DimGrey; 
	font-size:10pt;	
}

.itemtextwhite {
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	cursor:pointer; 
	color: white; 
	font-size:10pt;	
}

.itemtextinactive {
	list-style-type:none;
	color: DimGrey; 
	font-size:9pt;	
	font-weight:bold;
}

.selectedlabel {
	color: #4e247b; 
}

.unselectedlabel {
	color: dimgray; 
}

/** NEW FOR VERSION 2.0 **/

.selectedback {
	background: #FBFCB4; 
}

.selectedbackbox {
    background-color: #E8E8E8; 
    border: 1px solid #E8E8E8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: inline-block;
}

.boxborder {
    border:1px solid #C8C8C8;
}
.boxbackground {
    background-color: #ffffff;
}
.boxshadow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EDEDED #E1E1E1 #EDEDED #D4D4D4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    color: #414141;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.5em;
    padding: 0.5em 9px;
}

.boxshadowsquare {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EDEDED #E1E1E1 #EDEDED #D4D4D4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    color: #414141;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.5em;
    padding: 0.5em 9px;
}

.boxshadowsquaredark {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E1DFDF #D8D4D4 #E1DFDF #C8C4C4;
    border-image: none;
    border-style: solid; 
    border-width: 1px;
    /*-webkit-box-shadow: 10px 10px 5px -6px rgba(168,165,168,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(168,165,168,1);*/
    box-shadow: 10px 10px 5px -6px rgba(168,165,168,1);
    background-color: #E1E1E1;
    color: #414141;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.5em;
    padding: 0.5em 9px;
}

#maparrowdiv.boxshadowsquare .active input { cursor: pointer; }

.toConnectionsTable { width: 100%; }
.toConnectionsTable tbody { width: 100%; }
.toConnectionsTable tbody .nodecheckcell { padding-left: 5px; }
.toConnectionsTable tbody .ideavotediv { margin: 0; padding: 0; width: 60px; }
.toConnectionsTable tbody .idea-user-img { margin: 0; padding: 0; width: 40px; }

.toConnectionsTable tbody .editformvotedividea { margin-left: 10px; max-width: 50px; }
.toConnectionsTable tbody .editformvotedividea img { margin-left: 5px; margin-right: 5px; }
.toConnectionsTable tbody .editformvotedividea span { font-weight: bold; }
.toConnectionsTable tbody .idea-user2 a { display: block; }

.toConnectionsTable tbody .idea-section { padding-left: 10px; }
.toConnectionsTable tbody .idea-section .textdividea { text-align: left; }
.toConnectionsTable tbody .idea-section .textdividea span.desctoggle { font-weight: bold; font-size: 14pt; cursor: pointer; }
.toConnectionsTable tbody .idea-section .textdividea .idea-edit { margin-left: 10px; margin-top: -7px; cursor: pointer; }
.toConnectionsTable tbody .idea-section .textdividea .idea-delete { margin-left: 10px; margin-top: -7px; cursor: pointer; }
.toConnectionsTable tbody .idea-section .textdividea .idea-built { margin-left: 10px; margin-top: -7px; }
.toConnectionsTable tbody .idea-section .textdividea button.idea-split { border-radius: 0.25rem; border: 1px solid #aaa; font-size: 0.9em; margin-left: 10px; padding: 2px 8px; }
.toConnectionsTable tbody .idea-section .textdividea .ideaargumentlink { color: #a91a70 !important; cursor: pointer; display: inline; font-size: 10pt;margin-top: 7px; font-weight: bold; }
.toConnectionsTable tbody .idea-section .textdividea .ideacommentlink { color: #a91a70 !important; cursor: pointer; display: inline; font-size: 10pt;margin-top: 7px; font-weight: bold; margin-left: 30px; }

.toConnectionsTable tbody .idea-section h2.editing-header { color: #4E725F; font-size: 1em; margin: 0; }
.editformdividea { margin: 10px 0; }

.add-another-url { font-size: 0.9em; }

ul.widget-list-ideas { list-style-type: none; padding: 0; }
ul.widget-list-ideas .textdivcomment .textdivcomment-title { color: #7FAE0E !important; font-size: 1.2em; position: relative; margin-left: 20px; display: block; }
ul.widget-list-ideas .textdivcomment .textdivcomment-title::after { content: "●"; font-size: 0.7em; position: absolute; left: -20px; top: 3px; color: #696969 !important; }
ul.widget-list-ideas .textdivcomment .idea-desc { margin-bottom: 10px; margin-left: 20px; }

.my-groups { display: flex; flex-wrap: wrap; gap: 1em; }
.my-groups .nodetable { height: 160px; }

.nodetable .issue-title a { color: #a91a70 !important; font-weight: bold !important; }

.newideaform span.active { color: #a91a70 !important; font-weight: bold !important; cursor: pointer; margin: 0; padding: 0; display: inline !important; width: auto; }

.nodetable .issue-title a { color: #a91a70 !important; font-weight: bold !important; }

.idea-list-ul { list-style: none; margin: 0 0 15px 0; padding: 0; }
.idea-list-ul .idea-list-li { margin: 0; padding: 0; }

.node-icon { max-width: 20px; height: auto; margin-right: 10px; }