/**
 * These are the style that, in our experience, most commonly requiring per-site customization.
 * We have separated these out to try and make updating the code with new versions easier.
 *
 * Eventually, we hope to have a more sophisicated style system in place to allow 
 * easier customization of any styles.
 */

 a,
 a:active,
 a:visited,
 a.active,
 .nav-link,
 .link-active, 
 .span-link { color: #a91a70; cursor: pointer; font-weight: bold; text-decoration: none; }
 
 a:hover,
 a.active:hover,
 .link-active:hover,
 .span-link:hover { color: #4E725F; font-weight: bold; text-decoration: none; }

.itemtext:hover { color: #a91a70; }

.inactive { cursor: none; }
.inactive:hover { color: rgb(164, 164, 164); }

h1 { margin-top: 5px; margin-bottom: 10px; color: #4E725F; }
h2 { margin: 0px; margin-bottom: 10px; color: #4E725F; }

.inactive{ cursor:	default; color: #A4A4A4; }
.footertitle { color: #4e247b; }
#dialoglogo { float: left; margin-bottom: 3px; margin-top: 3px; margin-left: 3px; }
#logo { float: left; padding-top: 0px; margin: 15px; margin-bottom: 0px; }
.subform { border: 2px solid #40B5B2; }
.subform2 { border: 2px solid #40B5B2; }
.hgrsubform { border: 2px solid #40B5B2; }
hr.urldivider { background: #40B5B2; border: 0px; padding: 0px; height: 1px; width: 100%; }
#tagcloud li a { text-decoration: none; color: #a91a70; padding: 2px; }
#tagcloud li a:hover{ color: #a91a70; }

.btn { outline: none; box-shadow: none; }
.btn:focus { outline: none; box-shadow: none; }

.btn-primary { background-color: #a91a70; border-color: #a91a70; }
.btn-primary:hover { background-color: #4E725F; border-color: #4E725F; }

.btn-secondary { background-color: #80B906; border-color: #80B906; color: #222; }
.btn-secondary:hover { background-color: rgba(128,185,6, 0.8); color: #222; }

.btn-moderator { background-color: #4E725F; border-color: #4E725F;  color: #fff; }
.btn-moderator:hover { background-color: rgba(78,114,95, 0.8); color: #fff; }
.btn-moderator.active { background-color: rgba(78,114,95, 0.7); border-style: inset; border-width: 1px; }

.btn-link { background-color: transparent; border: none; color: #a91a70; }
.btn-link:hover { color: #4E725F; }

/*************/
/**** NAV ****/
/*************/
#menu.nav li.nav-item a { color: #a91a70; }
#menu.nav li.nav-item a.current:hover { color: #a91a70; opacity: 0.5; }

.myhubtitlediv { margin:0px; padding:0px; width:100%; background:#C0C0C0; }
.myhubtitle { padding:5px; margin-top:0px; margin-bottom:0px; }

/*******************/
/**** HOME PAGE ****/
/*******************/
.hometitles { font-weight:bold; color: #4e247b; padding-left:0px; }
.homesubtitle { color: #008fb6; }
.themecloudtext { color:#C9036A; }

.tab-pane.active { cursor: auto; }

/******************************/
/**** CATEGORIES TAB PAGES ****/
/******************************/

/************************/
/** Challenge tab area **/
/************************/
.challengeback { background: #6FCBF5; }
.challengebackpale { background: #E2F2F8; }
.challengebackpale2 { background: #E2F2F8; }
.challengeborder { border: 1px solid #6FCBF5; }
.challengeborder-bottom { border-bottom: 1px solid #6FCBF5; }
.challengebackgradient { background: #6FCBF5; }
.challengebackgradient2 { background: #ffffff; }

/********************/
/** Issue Tab Area **/
/********************/
.issueback,
.themelist1back { background: #DFC7EB; }
.issuebackpale { background: #E6F7FF; }
.issueborder, 
.themelist1border { border: 1px solid #DFC7EB; }
.issueborder-bottom { border-bottom: 1px solid #DFC7EB; }
.issuebackgradient, 
.themelist1colour { background: #DFC7EB; }
.issuebackgradient2 { background: #ffffff; }

/***********************/
/** Solution tab area **/
/***********************/
.solutionback, 
.themelist4back { background: #B9C1DD; }
.solutionbackpale { background: #EEF7E2; }
.solutionborder, 
.themelist4border { border: 1px solid #B9C1DD; }
.solutionborder-bottom { border-bottom: 1px solid #B9C1DD; }
.solutionbackgradient, 
.themelist2colour { background: #B9C1DD; }
.solutionbackgradient2 { background: #ffffff; }

/********************/
/** Claim tab area **/
/********************/
.claimback { background: #80B906; }
.claimbackpale { background: #EDF4DA; }
.claimborder { border: 1px solid #80B906; }
.claimborder-bottom { border-bottom: 1px solid #80B906; }
.claimbackgradient { background: #80B906; }
.claimbackgradient2 { background: #ffffff; }

/***************************/
/** Organisation tab area **/
/***************************/
.orgback { background: #27318B; }
.orgbackpale { background: #EAECF5; }
.orgborder { border: 1px solid #27318B; }
.orgborder-bottom { border-bottom: 1px solid #27318B; }
.orgbackgradient { background: #27318B; }
.orgbackgradient2 { background: #ffffff; }

/****************************************************/
/** Project tab area: CURRENTLY IN SAME TAB AS ORG **/
/****************************************************/
.projectback { background: #27318B; }
.projectbackpale { background: #EAECF5; }
.projectborder { border: 1px solid #27318B; }
.projectborder-bottom { border-bottom: 1px solid #27318B; }
.projectbackgradient { background: #27318B; }
.projectbackgradient2 { background: #ffffff; }

/*********************/
/** People tab area **/
/*********************/
.peopleback { background: #27318B; }
.peoplebackpale { background: #EAECF5; }
.peopleborder { border: 1px solid #27318B; }
.peopleborder-bottom { border-bottom: 1px solid #27318B; }
.peoplebackgradient { background: #27318B; }
.peoplebackgradient2 { background: #ffffff; }

/***********************/
/** Evidence tab area **/
/***********************/
.evidenceback, 
.themelist4back { background: #E1E353; }
.evidencebackpale { background: #FCFCE8; }
.evidenceborder, 
.themelist4border { border: 1px solid #E1E353; }
.evidenceborder-bottom { border-bottom: 1px solid #E1E353; }
.evidencebackgradient, 
.themelist4colour { background: #E1E353; }
.evidencebackgradient2 { background: #ffffff; }

/*********/
/** Pro **/
/*********/
.proback { background: #C3D6BC; }
.probackpale { background: #EAF3E7; }
.proborder { border: 1px solid #C3D6BC; }
.proborder-bottom { border-bottom: 1px solid #C3D6BC; }
.probackgradient { background: #C3D6BC; }
.probackgradient2 { background: #ffffff; }

/*********/
/** Con **/
/*********/
.conback { background: #DE9898; }
.conbackpale { background: #F9E7E7; }
.conborder { border: 1px solid #DE9898; }
.conborder-bottom { border-bottom: 1px solid #DE9898; }
.conbackgradient { background: #DE9898; }
.conbackgradient2 { background: #ffffff; }

/***********************/
/** Resource tab area **/
/***********************/
.resourceback { background: #7EAA7E; }
.resourcebackpale { background: #E1F1E1; }
.resourceborder { border: 1px solid #7EAA7E; }
.resourceborder-bottom { border-bottom: 1px solid #7EAA7E; }
.resourcebackgradient { background: #7EAA7E; }
.resourcebackgradient2 { background: #ffffff; }

/************/
/** Themes **/
/************/
.themeback, 
.themelist3back { background: #80B906; }
.themebackpale { background: #F9EBF3; }
.themeborder, 
.themelist3border { border: 1px solid #80B906; }
.themeborder-bottom { border-bottom: 1px solid #80B906; }
.themebackgradient, 
.themelist3colour { background: #80B906; }
.themebackgradient2 { background: #ffffff; }

/*************/
/** NEUTRAL **/
/*************/
.plainback { background: #B0B0B0; }
.plainbackpale { background: #D0D0D0; }
.plainborder { border: 1px solid #D0D0D0; }
.plainborder-bottom { border-bottom: 1px solid #D0D0D0; }
.plainbackgradient { background: #D0D0D0; }
.plainbackgradient2 { background: #ffffff; }
.plainbackgradientpale { background: #E8E8E8; }



.themelist { cursor: pointer; display: flex; justify-content: center; align-content: center; flex-direction: column; height: 100px; hyphens: auto; margin: 5px; padding: 0; position: relative; text-align: center; width: 120px; }
.themelistinner { background: none; background-color: transparent; display: block; }
.themebutton { background: none; background-color: transparent; color: #4e247b; }
.themelist1colour .themebutton { color: #fff; }
.themebutton span { background: none; background-color: transparent; }
.theme img { height: auto; width: 100%; }

.overviewlegend { font-weight: bold; margin-left: 1em; padding: 0.2em 0.8em; }
.widgettextcolor { color:#4e247b; }
.overviewfieldset { border: 1px #4e247b solid; padding-top: 3px; }

.overviewfieldset .idea-list-li img { max-width: 20px; height: auto; margin-right: 10px; }

/***************************/
/** TABBER Customizations **/
/***************************/

.pagination .page-link { color: #4E725F; font-weight: bold; }
.pagination .page-link.active { color: #A6156C; }
.pagination .page-link.inactive { color: #696969; }
.pagination .page-link.hover { background-color: #e9ecef; }

#tabber .currentpage { color: #4E725F; font-weight: bold; background-color: #e9ecef }

#tabber .main-nav li.nav-item a.tab span { border-bottom: 1px solid #fff; color: #696969; padding-bottom: 1px; }
#tabber .main-nav li.nav-item a.tab.current span,
#tabber .main-nav li.nav-item a.tab.active span,
#tabber .main-nav li.nav-item a.tab:hover span { border-bottom: 1px solid; text-decoration: none; }

#tabber .main-nav li.nav-item a.tab:hover span.tabhome { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabhome,
#tabber .main-nav li.nav-item a.tab.active span.tabhome { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabevidence { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabevidence,
#tabber .main-nav li.nav-item a.tab.active span.tabevidence { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabchallenge { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabchallenge,
#tabber .main-nav li.nav-item a.tab.active span.tabchallenge { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabissue { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabissue,
#tabber .main-nav li.nav-item a.tab.active span.tabissue { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabsolution { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabsolution,
#tabber .main-nav li.nav-item a.tab.active span.tabsolution { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabclaim { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabclaim,
#tabber .main-nav li.nav-item a.tab.active span.tabclaim { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabresource { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabresource,
#tabber .main-nav li.nav-item a.tab.active span.tabresource { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.taborg { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.taborg,
#tabber .main-nav li.nav-item a.tab.active span.taborg { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabproject { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabproject,
#tabber .main-nav li.nav-item a.tab.active span.tabproject { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabuser { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabuser,
#tabber .main-nav li.nav-item a.tab.active span.tabuser { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab:hover span.tabtheme { color: #A6156C; }
#tabber .main-nav li.nav-item a.tab.current span.tabtheme,
#tabber .main-nav li.nav-item a.tab.active span.tabtheme { color: #A6156C; }

.homebutton1 { color: #4e247b; }
.homebutton2 { color: white; }

/**********/
/** User **/
/**********/
.tabber-user a,
.tabber-user a:visited { color: #555 !important; font-weight: normal !important; }
.tabber-user a:hover { color: #DA569A !important; }
.tabber-user a.active { color: #a91a70 !important; font-weight: bold !important; }

.groupbutton { margin-top: 10px; margin-left: 5px; color: white; }
.groupbuttoninner { color: white; font-weight: bold; text-align: center; vertical-align: middle; line-height: 30px; cursor: pointer; }

.modeback1 { background: #4E725F; }
.modeborder1 { border: 4px solid #4E725F; }
.modeborder1pressed { border: 4px inset #4E725F; }
.modeback2 { background: #a6156c; }
.modeborder2 { border: 4px solid #a6156c; }
.modeborder2pressed { border: 4px inset #a6156c; }
.modeback3 { background: #80B906; }
.modeborder3 { border: 4px solid #80B906; }
.modeborder3pressed { border: 4px inset #80B906; }
.modeback4 { background: #730B4D; }
.modeborder4 { border: 4px solid #730B4D; }
.modeborder4pressed { border: 4px inset #730B4D; }

/* MB: Put back - used to show which Map menu items are in the selected state - could probably be done somehow with Bootstrap - but needs to be done.*/
.iconSelected { background:#D6D6D6; border:  2px solid #80ba42; }
.iconUnselected { background: transparent; border: 2px solid transparent; }

/* 
.editbackgradient { color:white; height:24px; margin-right:10px; padding-left:3px; padding-right:3px; font-family:"Trebuchet MS", Helvetica, sans-serif; font-weight:bold; border: 1px solid #4E725F; border-radius: 6px;  box-shadow: 2px 2px 2px #ABC7B8; background: #63AB85; }

.alertbackgradient { color:white; height:24px; margin-right:10px; padding-left:2px; padding-right:2px; font-family:"Trebuchet MS", Helvetica, sans-serif; font-weight:bold; border: 1px solid #80B906; border-radius: 6px;  box-shadow: 2px 2px 2px #CCD4BC; background: #BEDD7B; }

.graybackgradient { color:white; padding-left:2px; padding-right:2px; height:24px; font-family:"Trebuchet MS", Helvetica, sans-serif; font-weight:bold; border: 2px solid #B7B7B7; background: #B7B7B7; }

.search { position: relative; }
.search input { text-indent: 24px;}
.search .fa-search {  position: absolute; top: 4px; left: 6px; font-size:14px; }

.searchborder { border:1px solid #C0C0C0; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:10pt; }

.promptbox { z-index:200; background: #E8E8E8;  border: 1px solid #C0C0C0; padding:5px;  width: 400px;  height: 200px;  position: absolute;  left:0px;  top:0px;  overflow: auto;  display: none;  font-family: Arial; } */


/* Admin page */

.btn-admin { background-color: #ddd; border-color: #ddd; color: #555 !important; font-weight: bold; }
.btn-admin:hover { background-color: #a91a70; border-color: #a91a70; color: #fff !important; }
.btn-admin.active { background-color: #a91a70; border-color: #a91a70; color: #fff !important; }

.admin-index .card .card-body a { color: inherit; }
.admin-index .card .card-body a:hover { color: inherit; }
th.sorting_disabled::before { display: none !important; }
th.sorting_disabled::after { display: none !important; }
.dataTable { color: #696969; width: 100%; table-layout: auto; }
.dataTable th { color: #212529; font-size: 1em; border-color: rgb(222, 226, 230) !important; padding: 0.5rem; }
.dataTable td { padding: 0.5rem; }

.grayline { border-color: #ddd !important; }
.graylinewide { background-color: #ddd !important; height: 1px !important; }

.spamdiv table.toConnectionsTable tbody tr td div:first-child { display: flex; justify-content: start; }