#tabber .main-nav { background-color: transparent; }
#tabber .main-nav li.nav-item { background-color: transparent; }
#tabber .main-nav li.nav-item a.tab { background-color: transparent; }
#tabber .main-nav li.nav-item a.tab.current { background-color: transparent; }
#tabber .main-nav li.nav-item a.tab span.tab { background-color: transparent; display: block; padding: 2px 10px; }

#tabber .tabcontent { background: #fff; }

.myData-tabs li a.nav-link { border: 0; }
.myData-tabs li a.nav-link.active { border-bottom: 1px solid; }


/* #tabber .tabcontenthome { padding: 5px; padding-top: 8px; overflow: hidden; height: 100%; min-height: 400px; margin: 0px; width: 100%; background: white; }
#tabber .tabcontentouter { padding: 5px; padding-top: 8px; overflow: hidden; height: 100%; min-height: 400px; margin: 0px; width: 100%; background: #F4F5F7; }
#tabber .tabcontent { overflow: hidden; height: 100%; min-height: 400px; margin: 0px; width: 100%; }
#tabber .tabcontentinner { background:#F4F5F7; width: 100%; }
#tabber .tabcontentuser { width: 100%; padding: 0px; margin: 0px; display: block; }
#tabber .tabcontentsearchuser { margin:5px; padding-top:5px; width: 100%; }
#tabber .tabcontentexplore{ overflow: hidden; background:white; margin: 0px; padding: 0px; width: 100%; height: 100%; }
#tabber #nav-previous { margin-right: 0px; }
#tabber #nav-next { margin-left: 0px; }
#tabber .nav-page { margin: 0px 4px; }
.nav-page { margin: 0px 3px; } */