
.widgettable {
}

div.tabletop {
	float:left; 
	width: 100%;
}

div.tablelower {
	clear:top; 
	float:left; 
	width: 100%; 
	background:transparent;
	margin-top:8px;
}

div.recommender {
	float:left; 
	margin-left:8px;
}

.widgetdivnode {
	clear:both;
	width: 99%;
	background:white;
}

div.widgetheaderinnernode {
	float: left;
	padding: 5px;
}

.widgetdiv {
	clear:both;
	float:left;
	border: 1px solid #E3E3E3;	
	width: 99.5%;
	background: white;
}

.widgetheader {
	clear:both;
	float:left;
	font-weight:bold;
	width:100%;
	text-align: left;
}

div.widgetheaderinner {
	float: left;
	width: 83%;
	padding: 5px;
}

.widgetheaderlabel {
	margin-right: 10px;
}

.widgetheadernode {
	float:left;
	clear:both;
	font-weight:bold;
	width:100%;
	text-align: left;
	margin-bottom:5px;
}

.widgetnodeheaderlabel {
	color: black; 
	margin-right: 10px;
	font-size: 12pt;
}

.widgetnodeheaderlabel2 {
	font-size: 14pt;
}

.widgetnodebody {
	clear: both;
	width: 100%;
	text-align: left;
	display:block;
	background:white;
}

.widgetnodeinnerbody {
	clear: both;
	float:left;
	overflow-y: auto;
	overflow-x:hidden;
	text-align: left;
	display:block;
	padding:5px;
	width:98%;
}

.widgetnodespacer {
	clear: both;
	float:left;
	width:100%;
	border: 0;
	color: #E8E8E8; 
	background-color:#E8E8E8; 
	height: 1px;
	padding:0px;
	margin:0px;
	margin-top:5px;
}

.nodewidgettoolbar {
	float:left;
	clear: both;
	padding:5px;
	margin: 0px;
	width: 98%;
	height:20px;
}

.innerwidgetnodebody {
	clear: both;
	width: 100%;
	padding:5px;
	overflow-y: auto;
	overflow-x:hidden;
	text-align: left;
	display:block;
}

.widgetbody {
	clear: both;
	padding:5px;
	overflow-y: auto;
	overflow-x:hidden;
	text-align: left;
	display:block;
}

div.widgetheadercontrol {
	float:right;
	width: 12px;
	padding-top: 5px;
	padding-right: 5px;
}

div.commentdiv{
	clear:both;
	float:left;
	margin-top:4px;
	padding:5px;
	padding-top: 1px;
	z-index: top;
	height:50px; 
	display:none;
	width: 97%;
}

/** widget header background **/

.headerwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.followwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.commentwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.recommendwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.challengewidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.issuewidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.claimwidgetback{
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.solutionwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.orgwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.projectwidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.peoplewidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.evidencewidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.resourcewidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.themewidgetback {
	background: #E3E3E3;
	background: -o-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -moz-linear-gradient(top, #EFEDED, #E3E3E3);
	background: -webkit-gradient(linear,
                left top, left bottom, from(#EFEDED), to(#E3E3E3));
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#EFEDED  ', EndColorStr='#E3E3E3', GradientType=0);
    	background: linear-gradient(to bottom, #ffffff, #E3E3E3);
}

.overviewlegend {
	font-weight: bold;
	margin-left: 1em; 
	padding: 0.2em 0.8em;
}